@model EmpManagement.Models.EmployeeModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Create Employee </h4>
                </div>
                <div class="col-sm-6 pt-1 text-right"><a class="text-right text-dark" asp-action="Index">X</a></div>
            </div>
        </div>
        <div class="card-body">


            <form asp-action="Create">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                        <label asp-for="EmployeeCode" class="control-label"></label>
                        <input placeholder="Enter Employee Code" asp-for="EmployeeCode" class="form-control" />
                        <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                    </div>*@
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input placeholder="Enter First Name" asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input placeholder="Enter Last Name" asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="EmailId" class="control-label"></label>
                            <input placeholder="Enter EmailId" asp-for="EmailId" class="form-control" />
                            <span asp-validation-for="EmailId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="MobileNo" class="control-label"></label>
                            <input placeholder="Enter Mobile No" asp-for="MobileNo" class="form-control" />
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                        <label asp-for="DepartmentId" class="control-label"></label>
                        <input asp-for="DepartmentId" class="form-control" />
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>
                    </div>*@
                        @*<div class="form-group">
                        <label asp-for="Role" class="control-label"></label>
                        <input asp-for="Role" class="form-control" />
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>*@
                        <div class="form-group">
                            <label asp-for="Role" class="control-label"></label>
                            <select class="form-control" asp-for="@Model.Role"
                                    asp-items="@ViewBag.RoleList"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Designation" class="control-label"></label>
                            <input placeholder="Enter Designation" asp-for="Designation" class="form-control" />
                            <span asp-validation-for="Designation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                        <label asp-for="ReportingManager" class="control-label"></label>
                        <input asp-for="ReportingManager" class="form-control" />
                        <span asp-validation-for="ReportingManager" class="text-danger"></span>
                    </div>*@
                        <div class="form-group">
                            <label asp-for="ReportingManager" class="control-label"></label>
                            <select class="form-control" asp-for="@Model.ReportingManager"
                                    asp-items="@ViewBag.ManagerList"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="DateOfBirth" class="control-label"></label>
                            <input placeholder="Select DateOfBirth" asp-format="{0:yyyy-MM-ddTHH:mm}" asp-for="DateOfBirth" class="form-control" />

                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        <input asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>*@
                        <div class="form-group">
                            <label asp-for="Gender" class="pl-0 control-label col-md-12"></label>
                            <div class="col-md-12 pl-0">
                                @Html.RadioButtonFor(model => model.Gender, "Male")
                                <label class="control-label">Male</label>
                                @Html.RadioButtonFor(model => model.Gender, "Female")
                                <label class="control-label">Female</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                        <label asp-for="Qualification" class="control-label"></label>
                        <input asp-for="Qualification" class="form-control" />
                        <span asp-validation-for="Qualification" class="text-danger"></span>
                    </div>*@
                        <div class="form-group">
                            <label asp-for="Qualification" class="control-label"></label>
                            <select class="form-control" asp-for="@Model.Qualification"
                                    asp-items="@ViewBag.QualificationList"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                        <label asp-for="Stream" class="control-label"></label>
                        <input asp-for="Stream" class="form-control" />
                        <span asp-validation-for="Stream" class="text-danger"></span>
                    </div>*@
                        <div class="form-group">
                            <label asp-for="TotalExperiance" class="control-label"></label>
                            <input placeholder="Enter Total Experiance" asp-for="TotalExperiance" class="form-control" />
                            <span asp-validation-for="TotalExperiance" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                        <label asp-for="PositionType" class="control-label"></label>
                        <input asp-for="PositionType" class="form-control" />
                        <span asp-validation-for="PositionType" class="text-danger"></span>
                    </div>*@
                        <div class="form-group">
                            <label asp-for="TotalLeaveProvide" class="control-label"></label>
                            <input placeholder="Enter Total Leave Provided" asp-for="TotalLeaveProvide" class="form-control" />
                            <span asp-validation-for="TotalLeaveProvide" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @*<div class="form-group">
                        <label asp-for="WeeklyOff" class="control-label"></label>
                        <input asp-for="WeeklyOff" class="form-control" />
                        <span asp-validation-for="WeeklyOff" class="text-danger"></span>
                    </div>*@
                        <div class="form-group">
                            <label asp-for="WeeklyOff" class="control-label"></label>
                            <select class="form-control" asp-for="@Model.WeeklyOff"
                                    asp-items="@ViewBag.WeeklyoffList"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PrivilegeLeave" class="control-label"></label>
                            <input placeholder="Enter Total Privilege Leave" asp-for="PrivilegeLeave" class="form-control" />
                            <span asp-validation-for="PrivilegeLeave" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="CasualLeave" class="control-label"></label>
                            <input placeholder="Enter Total Casual Leave" asp-for="CasualLeave" class="form-control" />
                            <span asp-validation-for="CasualLeave" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="BankName" class="control-label"></label>
                            <input placeholder="Enter Bank Name" asp-for="BankName" class="form-control" />
                            <span asp-validation-for="BankName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="IFSCCode" class="control-label"></label>
                            <input placeholder="Enter IFSC Code" asp-for="IFSCCode" class="form-control" />
                            <span asp-validation-for="IFSCCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
