@model IEnumerable<EmployeeManagement.Models.LeaveModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveDateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveDateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveDateTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LeaveId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LeaveId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LeaveId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
