@model IEnumerable<EmployeeManagement.Models.LeaveApproveModel>

@{
    ViewData["Title"] = "LeaveApproveIndex";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6"><h4>Leaves Requests</h4></div>
                <div class="col-sm-6">
                    @*<p class="pb-0 mb-0 text-right">
                            <a asp-action="Create">Apply Leave</a>
                        </p>*@
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        @*<th>
                                @Html.DisplayNameFor(model => model.EmployeeId)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveDateFrom)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveDateTo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveApprovedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ApproveRemark)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.EmployeeId)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveDateFrom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveDateTo)
                            </td>
                            <td>
                                <span class="badge badge-primary">  @Html.DisplayFor(modelItem => item.Status)</span>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveApprovedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApproveRemark)
                            </td>
                            <td>
                                @if (item.Status == "New")
                                {
                                    <a asp-action="LeaveApprove" asp-route-id="@item.LeaveId">Action</a>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
