@model EmployeeManagement.Models.SalaryStructureModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SalaryStructureModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DA)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekendWorked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekendWorked)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossSalary)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossAnnualSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossAnnualSalary)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SalaryStructureId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
