@model EmployeeManagement.Models.SalaryStructureModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalaryStructureModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HRA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HRA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DA)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverTime)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekendWorked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekendWorked)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossSalary)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossAnnualSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossAnnualSalary)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SalaryStructureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
